{% extends "base.html" %}
{% block title %}採点結果{% endblock %}
{% block content %}
<div class="quiz">
  <div class="quiz-header">
    <fieldset>
      <div>
        <label>試験の名前</label>
        <span>{{quiz_headers["quiz name"]}}</span>
      </div>
      <div>
        <label>先生の名前</label>
        <span>{{quiz_headers["teacher name"]}}</span>
      </div>
    </fieldset>
    <fieldset>
      <div>
        <label>名前</label>
        <span>{{student_metadata["student name"]}}</span>
      </div>
      <div>
        <label>メールアドレス</label>
        <span>{{student_metadata["student email"]}}</span>
      </div>
    </fieldset>
  </div>
  <ol>
  {% for q in questions %}
    <li class="quiz-question">
      {{q['text_1']}}
      <input type="text" value="{{q['response_1']}}" disabled>
      {{q['text_2']}}
      <div>
        <label>スコア</label>
        {% if q['score'] %}
        {{q['score']}}
        {% else %}
        まだ採点されていません
        {% endif %}
      </div>
      <div>
        {% if q['correct_answer'] %}
        <label>正しい答え</label>
        {{q['correct_answer']}}
        {% endif %}
      </div>
    </li>
  {% endfor %}
  </ol>
  <p>
    先生から採点終了の連絡が来たあと、お送りしたメールのリンクから採点結果を確認してください。
  </p>
</div>
{% endblock %}