<!DOCTYPE html lang="jp">
<html>
  <head>
    <link rel="stylesheet" 
    type="text/css" 
    href="{{ url_for('static', filename='styles/styles.css')}}">
  </head>
  <body>
    <header>Iroha Forms - Grade Quiz</header>
    <main>
      <form action="{{ url_for('grade_quiz', teacher_uuid=teacher_uuid) }}" method="POST" class="quiz">
        <fieldset>
          <div>
            <label>quiz name</label>
            <span>{{quiz_headers["quiz name"]}}</span>
          </div>
          <div>
            <label>teacher name</label>
            <span>{{quiz_headers["teacher name"]}}</span>
          </div>
          <div>
            <label>teacher email</label>
            <span>{{quiz_headers["teacher email"]}}</span>
          </div>
        </fieldset>
        <ol>
        {% for q in questions %}
          <li>
            {{q['text_1']}}
            <input type="text" disabled>
            {{q['text_2']}}
            <table>
              <thead>
                <tr>
                  <th>Student</th>
                  <th>Answer</th>
                  <th>Maru</th>
                  <th>Batsu</th>
                  <th>Correct Answer</th>
                </tr>
              </thead>
              <tbody>
              {% for student_id, a in q['answers'].items() %}
                <tr>
                  <td>
                    {{a['student name']}}: 
                  </td>
                  <td>
                    <input type="text" value="{{a['response_1']}}" disabled>
                  </td>
                  <td>
                    <input 
                      type="radio" 
                      name="a-{{a['id']}}"
                      id="a-{{a['id']}}-maru"
                      value="O"
                      {% if a['score'] == "O" %}checked{% endif %}
                    >
                  </td>
                  <td>
                    <input 
                      type="radio" 
                      name="a-{{a['id']}}"
                      id="a-{{a['id']}}-batsu"
                      value="X"
                      {% if a['score'] == "X" %}checked{% endif %}
                    >
                  </td>
                  <td>
                    <input
                      type="text"
                      name="a-{{a['id']}}-correct"
                      id="a-{{a['id']}}-correct"
                    >
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </li>  
        {% endfor %}
        </ol>
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>