<!DOCTYPE html lang="jp">
<html>
  <head>
    <link rel="stylesheet" 
    type="text/css" 
    href="{{ url_for('static', filename='styles/styles.css')}}">
  </head>
  <body>
    <header>Iroha Forms</header>
    <main>
      <form action="{{ url_for('grade_quiz', teacher_uuid=teacher_uuid) }}" method="POST" class="quiz">
        <ol>
        {% for q in questions %}
          <li>
            {{q['text_1']}}
            <input type="text" disabled>
            {{q['text_2']}}

            <ul>
            {% for student_id, a in q['answers'].items() %}
              <li>
                Student {{a['student name']}}: 
                <input type="text" value="{{a['response_1']}}" disabled>
                <label for="a-{{a['id']}}-maru">O</label>
                <input 
                  type="radio" 
                  name="a-{{a['id']}}"
                  id="a-{{a['id']}}-maru"
                  value="O"
                  {% if a['score'] == "O" %}checked{% endif %}
                >
                <label for="a-{{a['id']}}-batsu">X</label>
                <input 
                  type="radio" 
                  name="a-{{a['id']}}"
                  id="a-{{a['id']}}-batsu"
                  value="X"
                  {% if a['score'] == "X" %}checked{% endif %}
                >
              </li>
            {% endfor %}
            </ul>
          </li>  
        {% endfor %}
        </ol>
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>