<!DOCTYPE html lang="jp">
<html>
  <head>
    <link rel="stylesheet" 
    type="text/css" 
    href="{{ url_for('static', filename='styles/styles.css')}}">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1">
  </head>
  <body>
    <header>Iroha Forms - Quiz Links</header>
    <main>
      <div class="arrow-bar">
        <div class="arrow">試験を作る</div>
        <div class="arrow active">
          <div class="stack">
            <span class="arrow-header">
              試験を共有する
            </span>
            <span class="arrow-body">
              「クイズに答える」リンクを生徒に送信します。
            </span>
          </div>
        </div>
        <div class="arrow upcoming">試験を採点する</div>
        <div class="arrow upcoming">成績を共有する</div>
      </div>
      <div>
        <label>このリンクを生徒に送信します</label>
        <a href="{{ url_for('take_quiz', student_uuid=student_uuid) }}">クイズに答える</a>
      </div>
      <a href="{{ url_for('grade_quiz', teacher_uuid=teacher_uuid) }}">試験を採点する</a>
    </main>
  </body>
</html>