<!DOCTYPE html lang="jp">
<html>
  <head>
    <link rel="stylesheet" 
    type="text/css" 
    href="{{ url_for('static', filename='styles/styles.css')}}">
  </head>
  <body>
    <header>Iroha Forms - Quiz Links</header>
    <main>
      <div>
        <label>Link to grade assignment:</label>
        <a href="http://localhost:5000/teacher/quiz/{{teacher_uuid}}/grade">Grade Quiz</a>
      </div>
      <div>
        <label>Link to send to students:</label>
        <a href="http://localhost:5000/student/quiz/{{student_uuid}}/take">Take Quiz</a>
      </div>
    </main>
  </body>
</html>