<!DOCTYPE html lang="jp">
<html>
  <head>
    <link rel="stylesheet" 
    type="text/css" 
    href="{{ url_for('static', filename='styles/styles.css')}}">
  </head>
  <body>
    <header>Iroha Forms</header>
    <main>
      <form action="{{ url_for('submit_quiz', student_uuid=student_uuid) }}" method="POST">
        <fieldset class="quiz-header">
          <div>
            <label>Name</label>
            <input type="text" name="header-student_name">
          </div>
          <div>
            <label>Email</label>
            <input type="text" name="header-student_email">
          </div>
        </fieldset>
        <ul>
          {% for q in questions %}
          <li class="quiz-question">
            {{q[0]}}
            <input type="text" name="question-{{q[2]}}"> 
            {{q[1]}}
          </li>
          {% endfor %}
        </ul>
        <input type="submit">
      </form>
    </main>
  </body>
</html>