{% extends "base.html" %}
{% block title %}解答する{% endblock %}
{% block content %}
<form action="{{ url_for('page.submit_quiz', student_uuid=student_uuid) }}" method="POST" class="quiz">
  <div class="quiz-header">
    <fieldset>
      <div>
        <label>試験の名前</label>
        <span>{{quiz_headers["quiz name"]}}</span>
      </div>
      <div>
        <label>先生の名前</label>
        <span>{{quiz_headers["teacher name"]}}</span>
      </div>
    </fieldset>
    <fieldset>
      <div>
        <label>名前</label>
        <input type="text" id="header-student_name" name="header-student_name"  oninput="trackInput('take_quiz', this.name, this.value, notEmptyValidator)">
      </div>
      <div>
        <label>メールアドレス</label>
        <input type="text" id="header-student_email" name="header-student_email"  oninput="trackInput('take_quiz', this.name, this.value, emailValidator)">
      </div>
    </fieldset>
  </div>
  <ol>
    {% for q in questions %}
    <li class="quiz-question">
      <div class="quiz-question-body">
        {{q[0]}}
        <input type="text" name="question-{{q[2]}}"> 
        {{q[1]}}
      </div>
    </li>
    {% endfor %}
  </ol>
  <button type="submit" id="submit-button" class="mega-button" disabled>
    保存する
    <span class="disabled-tooltip">名前とメールアドレスを入力してください</span>
  </button>
</form>
{% endblock %}