html,body {
  margin: 0;
}

header {
  width: 100%;
  padding: 1em;
  background-color: black;
  color: white;
}

main {
  margin: 1em;
}

.quiz-header {
  border: 1px solid black;
  padding: 1em;
  width: max-content;
}

.quiz-question,.quiz-add-question {
  border: 1px solid red;
  padding: 1em;
  margin-bottom: 1em;
}

.quiz-add-question {
  list-style: none;
}

.blank-space {
  white-space: pre;
}