:root {
  --hue: 200;
  --accent-color: hsl(var(--hue), 84%, 50%);
  --dark-accent-color: hsl(var(--hue), 100%, 5%);
  --light-accent-color: hsl(var(--hue), 85%, 80%);
  --background-color: hsl(var(--hue), 44%, 95%);
  --fade-border-color: hsl(var(--hue), 10%, 78%);
  --background-disabled-color: hsl(var(--hue), 3%, 60%);
}

@-ms-viewport{
  width: device-width;
}

html,body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

header {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--fade-border-color);

  background-color: white;
  color: var(--accent-color);
  font-size: 2rem;
  font-weight: bolder;
  overflow-wrap: break-word;
}

header > span {
  white-space: nowrap;
}

main {
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

ol {
  padding-left: 0px;
}

ol > li {
  border: 1px solid var(--fade-border-color);
  border-radius: 1em;
  padding: 1em;
  background-color: white;

  list-style-position: inside;

  min-width: fit-content;
}

ol > li.quiz-question::marker {
  font-weight: bold;
}

ol > li.quiz-question::before {
  font-weight: bold;
}

.example-quiz-question::before {
  font-weight: bold;
  content: "例題:";
}

#quiz-body {
  counter-reset: quiz-item-counter;
}

.quiz-question, .example-quiz-question {
  display: block;
  border: 1px solid var(--fade-border-color);
  border-radius: 1em;
  padding: 1em;
  background-color: white;
  margin-block: 1em;
}

.quiz-question::before {
  counter-increment: quiz-item-counter 1;
  content: "問 " counter(quiz-item-counter) ": ";
  font-weight: bold;
}

.quiz-question-body {
  display: inline-block;
}

ol > li:not(:last-child) {
  margin-bottom: 1em;
}

.blank-space {
  white-space: pre;
}

.quiz-question {
  position: relative;
  box-sizing: border-box;
  height: fit-content;
}

.quiz-question::marker {
  display: inline;
}

.quiz-question-body {
  display: inline-block;
  vertical-align: top;
  margin-inline: 1em;
  box-sizing: border-box;
}

.example-quiz-question {
  background-color: rgba(0, 0, 0, 0);
}

.example-quiz-question::marker {
  font-weight: bolder;
}

fieldset {
  border: 1px solid var(--fade-border-color);
  width: max-content;
  padding: 0px;
  border-radius: 1em;
  background-color: white;
}

fieldset > div {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  align-items: baseline;
}

input[type=text] {
  margin-inline: 1em;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 1px;
  border-color: var(--dark-accent-color);
  background-color: var(--background-color);
  padding: 4px;
  width: 12em;
}

input:focus {
  margin-bottom: 0px;
  border-width: 0px 0px 2px 0px;
  border-color: var(--accent-color);
}

input:focus-visible {
  outline: none;
}

button {
  padding: 1em;
  border-radius: 1em;
  border: none;
  background-color: var(--accent-color);
  color: white;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}

button:active {
  box-shadow: 0 3px 3px rgb(0 0 0 / 0.2);
}

button:disabled {
  background-color: var(--fade-border-color);
  cursor: auto;
}

button.delete-button {
  height: 2rem;
  width: 2rem;
  background-color: rgba(0,0,0,0);
  color: var(--accent-color);
  position: absolute;
  top: 0px;
  padding: 0px;
  right: 0px;
  box-shadow: none;
}

label {
  color: var(--dark-accent-color);
  font-size: 90%;
  font-weight: 300;
  margin-right: 1em;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.quiz-header > fieldset {
  min-width: max-content;
}

.button-bar {
  display: flex;
  justify-content: space-between;
}

.disabled-tooltip {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  font-weight: 500;
  padding: 2px;
}

*:disabled:hover > .disabled-tooltip {
  display: block;
}

*:disabled:focus > .disabled-tooltip {
  display: block;
}

.linkbox {
  margin: 1em;
  border: 1px solid var(--dark-accent-color);
  border-radius: 1em;
  padding: 1em;
}

.linkbox > * {
  display: block;
}

table {
  margin-top: 1rem;
  border: 1px solid black;
  border-collapse: collapse;
}

table > thead > tr > th.grade-header-name {
  width: 10%;
}

table > thead > tr > th.grade-header-answer {
  width: 50%;
}

table > thead > tr > th.grade-header-maru {
  width: 5%;
}

table > thead > tr > th.grade-header-batsu {
  width: 5%;
}

table > thead > tr > th.grade-header-correct {
  width: 30%;
}

table > * > * > * {
  border: 1px solid black;
}

td > input[type=text] {
  width: 100%;
  margin-inline: 0px;
}

td > input[type=radio] {
  width: 100%;
  margin: 0;
  text-align: center;
}

.arrow-bar {
  max-width: 800px;
  width: 100%;
  margin-bottom: 1em;
  margin-inline: auto;
  display: flex;
}

.arrow {
  display: inline-block;
  width: calc(25% - 1em);
  padding: 0.5em;
  height: 6em;
  background-color: var(--light-accent-color);
  box-sizing: border-box;
  position: relative;
  margin-inline: 1em;
}

.arrow::after {
  border-style: solid;
  border-color: transparent transparent transparent var(--light-accent-color);
  border-width: 3em 0 3em 20px;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  left: 100%;
  content: "";
}

.arrow.active::after {
  border-color: transparent transparent transparent var(--accent-color);
}

.arrow.active {
  background-color: var(--accent-color);
}

.arrow.upcoming {
  background-color: var(--background-disabled-color);
}

.arrow.upcoming::after {
  border-color: transparent transparent transparent var(--background-disabled-color);
}

.stack {
  display: flex;
  flex-direction: column;
}

.arrow-header {
  font-weight: bolder;
  font-size: 90%;
  white-space: nowrap;
}

.arrow-body {
  font-weight: lighter;
  font-size: 74%;
}

.blank-space {
  width: 6rem;
  height: 1em;
  display: inline-block;
  position: relative;
  line-height: 1em;
}

.blank-space::before {
  content: "(";
  position: absolute;
  left: 0px;
}

.blank-space::after {
  content: ")";
  position: absolute;
  right: 0px;
}

@media only screen and (max-width: 600px) {
  .quiz-question-body {
    width: calc(100% - 6em);
    min-width: 12em;
    display: inline-block;
  }

  .quiz-question-body > * {
    margin-bottom: 8px;
    display: block;
  }

  .quiz-question-body > input {
    width: 100%;
  }

  .quiz-question > .blank-space {
    width: 40%;
  }

  input,input[type=text] {
    margin-inline: 0;
  }

  .arrow-body {
    display: none;
  }

  .arrow-header {
    font-size: 100%;
    white-space: unset;
  }
}


@media only screen and (max-width: 420px) {
  .arrow-header {
    font-size: 80%;
    white-space: unset;
  }
}

.mega-button {
  background-color: orange;
  color: black;
  font-size: larger;
}
